* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

button {
    width: 5rem;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* room */
.layer-wrap {
    display: none;
}

.layer-wrap.show {
    display: block;
}

.btn-add-room {
    width: 30px;
    height: 30px;
}

.room-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 3rem;
    border: 1px solid #ccc;
    color: black;
}

.room-name {
    font-size: 2rem;
    font-weight: bold;
}

.room-desc {
    font-size: 1.5rem;
    color: #aaa;
}

/* //room */

/* chat */
.chat-wrap {
    max-width: 30rem;
    margin: auto;
    border: #ddd 1px solid;
}

.chat-contents {
    max-height: 30rem;
    min-height: 30rem;
    padding: 3rem 1rem;
    overflow-y: scroll;
}

.chat-system {
    text-align: center;
    font-size: 1.5rem;
    color: #aaa;
}

.chat-user {
    display: flex;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: #fff;
    background-color: green;
}

.chat-input {
    width: 100%;
    height: 4rem;
    display: inline-flex;
}

#user-name {
    width: 5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

#user-msg {
    flex: 1 0 auto;
    font-size: 1.5rem;
}

.btn-send {
    /* width: 5rem;
    border: none;
    font-size: 1.5rem;
    color: #fff; */
    background-color: green;
}

/* //chat */